.card{
    border: none;
    width: 300px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 350ms;

    &:hover{
        transform: scale(1.05);
    }

    .card-img-top{
        object-fit: cover;
    }
    .card-body{

        .card-title{
            color: #000;
        }
        .hr{
            color: #000;
        }
    }
}