.picture-container{
    position: relative;

    .picture{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 10;

        .avatar-img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            transition: 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
            cursor: pointer;
            opacity: 1;
        }

        .name{
            font-size: 15px;
            letter-spacing: 1px;
            margin-top: 1rem;
        }
    }
}
.avatar-select{
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(5px);
    border: none;
    
    &:focus{
        box-shadow: none;
        border-color: none;
    }
}